# {{ title }}

{{ description }}

This project is generated with the PiNNAcLe template, to run it, you can run
this workflow by following the steps:

1. Install [nextflow];
2. Run `nextflow run main.nf`

The default workflow is generated to run with Singularity and the container
images provided by [PiNNAcLe], see the documentation page to find more ways to
configuration.

[nextflow]: https://nextflow.io
[singularity]: https://docs.sylabs.io/guides/latest/user-guide/
[PiNNAcLe]: https://github.com/teoroo-cmc/pinnacle