*.egg-info/
__pycache__/
*.sif
work/
.nextflow/
.nextflow.log*
.ipynb_checkpoints/
/examples/bench/liquid/analyses/
/examples/bench/liquid/datasets/
/examples/bench/liquid/models/
/examples/bench/liquid/trajs/
