profiles {
  alvis {
    params{
      cp2k_cmd = 'OMP_NUM_THREADS=2 mpirun -n 4 cp2k.psmp'
    }
    executor{
      name = 'slurm'
      queueSize = 100
      submitRateLimit = '120 min'
    }
    process {
      time = '3d'
      executor = 'slurm'
      errorStrategy='ignore'
      beforeScript = 'source $HOME/pinn-tf25/bin/activate'
      module = 'TensorFlow/2.5.0-fosscuda-2020b'
      withLabel: 'tips|moltemplate' {executor='local'}
      withLabel: latent {
        time = '1h'
        clusterOptions = '--gres=gpu:T4:1 -A YOUR_PROJ_ID'
      }
      withLabel: 'pinn|ase' {
        scratch=true
        clusterOptions = '--gres=gpu:T4:1 -A YOUR_PROJ_ID'
      }
      withLabel: 'cp2k' {
        scratch=true
        clusterOptions = '--gres=gpu:T4:2 -A YOUR_PROJ_ID'
        container='$HOME/cp2k_v9.1.0.sif'
      }
    }
  }
}
