profiles {
  alvis {
    process {
      executor = 'slurm'
      errorStrategy='ignore'
      module = 'TensorFlow/2.5.0-fosscuda-2020b'
      beforeScript = 'source $HOME/tips-env/bin/activate'
      clusterOptions = '--gres=gpu:T4:1'
      time = '24h'
    }
    executor {
      name = 'slurm'
      queueSize = 50
      submitRateLimit = '20 min'
    }
  }
}
