profiles {
  alvis {
    params{
      cp2k_cmd = 'OMP_NUM_THREADS=2 mpirun -n 4 cp2k.psmp'
    }

    executor{
      name = 'slurm'
      queueSize = 100
      submitRateLimit = '120 min'
    }

    process {
      time = '3d'
      executor = 'slurm'
      errorStrategy='ignore'

      withLabel: 'tips|pinn' {
        beforeScript = 'source $HOME/pinn-tf26/bin/activate'
        module = 'TensorFlow/2.6.0-fosscuda-2021a-CUDA-11.3.1'
      }

      withLabel: 'tips|molutils' {executor='local'}
      withLabel: 'pinn' {
        scratch=true
        clusterOptions = '--gres=gpu:T4:1'
        container='teoroo/pinnacle:pinn'
      }
      withLabel: 'cp2k' {
        scratch=true
        clusterOptions = '--gres=gpu:T4:2'
        container='nvcr.io/hpc/cp2k:v9.1.0'
      }
    }
  }
}
