profiles {
  standard {
    executor{
      name = 'local'
      cpus = 8
    }

    params {
      cp2k_cmd = 'source /opt/cp2k/prod_entrypoint.sh local popt; cp2k.popt'
      lmp_cmd = 'lmp_mpi'
    }

    env {
      OMP_NUM_THREADS='1'
    }

    process {
      cpus=1
      withLabel: "pinn|tips" {container='teoroo/pinnacle:pinn'}
      withLabel: cp2k {container='nvcr.io/hpc/cp2k:v9.1.0'}
      withLabel: dftb {container='teoroo/pinnacle:dftb'}
      withLabel: lammps {container='lammps/lammps:stable_7Aug2019_ubuntu18.04_openmpi_py3'}
      withLabel: molutils {container='teoroo/pinnacle:molutils'}
    }
    singularity {
      enabled = true
    }
  }
}
