profiles {
  teoroo2 {
    executor{
      name = 'local'
      cpus = 32
    }

    params {
      cp2k_cmd = 'source /opt/cp2k/prod_entrypoint.sh local popt; cp2k.popt'
      lmp_cmd = 'lmp_mpi'
    }

    env {
      OMP_NUM_THREADS='1'
    }

    process {
      cpus=1
      accelerator = 0
      withLabel: pinn        {accelerator= 1}
      withLabel: "pinn|tips" {container='/sw/pinnacle/pinn.sif'}
      withLabel: cp2k        {container='/sw/pinnacle/cp2k.sif'}
      withLabel: dftb        {container='/sw/pinnacle/dftb.sif'}
      withLabel: lammps      {container='/sw/pinnacle/lammps.sif'}
      withLabel: molutils    {container='/sw/pinnacle/molutils.sif'}
    }

    singularity {
      enabled = true
      runOptions = '--nv'
    }
  }
}
