profiles {
  standard {
    process {
      withLabel: pinn {
        container='yqshao/tips:pinn-gpu'
        containerOptions='--nv'
        accelerator=1
        cpus=1
      }
      withLabel: '(lammps|tips)' {
        container='yqshao/tips:lammps'
        cpus=1
      }
    }
    executor {
      name = 'local'
      cpus = 18
    }
    singularity {
      enabled = true
      autoMounts = true
    }
  }
  alvis {
    params.lmpCmd = 'singularity exec docker://lammps/lammps:stable_29Oct2020_ubuntu20.04_openmpi_py3 lmp_serial'
    process {
      executor = 'slurm'
      module = 'GCC/8.3.0:CUDA/10.1.243:OpenMPI/3.1.4:TensorFlow/2.3.1-Python-3.7.4:PyYAML:matplotlib'
      beforeScript = 'source $HOME/tips_env/bin/activate'
      clusterOptions = '--gres=gpu:T4:1'
      withLabel: pinn {
        time = '12h'
      }
      withLabel: lammps {
        time = '2h'
      }
      withLabel: tips {
        executor = 'local'
      }
    }
    executor {
      name = 'slurm'
      queueSize = 50
      submitRateLimit = '20 min'
    }
  }
}

