profiles {
  standard {
    process {
      withLabel: pinn {
        container='yqshao/tips:pinn-gpu'
        containerOptions='--nv'
        accelerator=1
        cpus=1
      }
      withLabel: lammps {
        container='yqshao/tips:lammps'
        cpus=1
      }
    }
    executor {
      name = 'local'
      cpus = 18
    }
  }
  alvis {
    process {
      executor = 'slurm'
      withLabel: pinn {
        container='yqshao/tips:pinn-gpu'
        clusterOptions = '--gres=gpu:T4:1'
        containerOptions='--nv'
        time='12h'
      }
      withLabel: lammps {
        container='yqshao/tips:lammps'
        clusterOptions = '--gres=gpu:T4:1'
        time='2h'
      }
    }
  }
}

singularity {
  enabled = true
  autoMounts = true
}
